.container {
  display: flex;
  column-gap: 20px;
  margin: 30px;
}
h2{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: underline;

}
.box {
  flex: 1;
  padding: 20px;
  border: 5px solid gray;
}
.box1{
  flex: 1;
  padding: 20px;
  border: 8px solid gray;
}
.product-item {
  display: flex;
  column-gap: 15px;
  margin-bottom: 25px;
  font-size: large;
  color: white;
  justify-content: space-between;
  font-weight: 500;
  background-color: gray;
  border: 10px solid gray;
  border-radius: 10px;
}
#cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  font-size: x-large;
  color: white;
  font-weight: 500;
  background-color: gray;
  border: 15px solid gray;
  border-radius: 10px;
}
#totalPrice {
  display: flex;
  margin-bottom: 25px;
  font-size: 22px;
  color: white;
  justify-content: space-between;
  font-weight: 500;
  background-color: gray;
  border: 10px solid gray;
  border-radius: 10px;
}
#totalPrice:hover{
  font-size: 25px;
  background-color: gray;
  border: 10px solid gray;
  font-weight: 600;
  border-radius: 12px;
  color: black;
}
