*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font:bold 12px Arial, Helvetica, sans-serif;
  background-image: url(https://images.unsplash.com/photo-1708583382060-5bcfebc34a69?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzOHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.clock{
  border: 1px solid #606060;
  color: white;
  padding: 40px;
  border-radius: 10px;
  background-color: #222222;
}
#Date{
  font-size: 20px !important;
  text-align: center;
}
.clock ul{
  list-style: none;
  display: flex;
  font-size: 90px;
  gap: 15px;
}